header {
    color: white;
    background-color: #2A2A2A;
    width: 100%;
    margin: 0 150px;
    display: flex;
}
.header {
    margin: 0 150px;
    display: flex;
    align-items: center;
    height: 47px;
}
.mail {
    width: 20px;
    height: 16px;
}
 .maiL{
    margin-left: 8px;
    color: white;
}
.hr1 {
    height: 14px;
    margin-right: 80%;
    margin-left: 20px;
}
.sum {
   margin-left: -77.5%;
}
.social {
    margin-left: 280px;
    display: flex;
}
.s {
 width: 18px;
 height: 18px;
 margin-left: 20px;
}
.country {
    margin-left: 70px;
}
.en {
    margin-left: 9px;
}
.symbol {
    margin-left: 10.5px;
    width: 9px;
    height: 5.5px;
}
.hr2 {
    height: 14px;
    margin-right: 150px;
}
.person {
    height: 14px;
    position: absolute;
    margin-left: 66.3%;
}
.login {
    position: absolute;
    margin-left: 77.6%;
}
.main {
    margin: 0 150px;
}
.upperMain {
    margin-top: 21px;
    display: flex;
}
.n {
    margin-left: 111px;
    margin-top: 14.5px;
}
.n > a {
    color: black;
}
.mainNav {
    color: #7FAD39;
}
a {
    text-decoration: none;
}
.nav {
    margin-left: 35px;
}
.h {
    width: 20px;
    height: 18px;
}
.heart {
    margin-top: 14.5px;
    margin-left: 238px;
}
.ball {
    width: 14px;
    height: 14px;
    margin-top: -27px;
    margin-left: 13.5px;
    color: white;
    background-color: #7FAD39;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
}
.p {
    width: 18px;
    height: 21px;
    margin-top: 10px;
    margin-left: 21px;
}
.b {
    margin-left: 33.5px;
}
.i {
    margin-top: 10px;
    margin-left: 27px;
    color: #999999;
}
.sums {
    display: flex;
}
.i1 {
    margin-top: 10px;
    font-weight: bold;
}
.greenBlock {
    width: 270px;
    height: 50px;
    background-color: #7FAD39;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.upMain {
    display: flex;
    margin-top: 30px;
}
.symb {
    width: 18px;
    height: 12px;
    margin: 0 23px;
}
.symbol1 {
    width: 12px;
    height: 7px;
    margin-left: 100px;
}
.input {
    position: absolute;
    margin-left: 290px;
    display: flex;
    align-items: center;
}
.text {
    width: 540px;
    height: 50px;
    border: 1px solid rgba(42, 42, 42, 0.2);
}
.inH {
    position: absolute;
    font-weight: bold;
    margin-left: 20px;
}
.inSym {
    position: absolute;
    width: 12px;
    height: 7px;
    margin-left: 130px;
    margin-right: 26px;
}
.inHr {
    position: absolute;
    margin-left: 180px;
    height: 14px;
    color: #2A2A2A33;
}
.wh {
    color: #999999;
    position: absolute;
    margin-left: 200px;
}
.grBlock {
    width: 106px;
    height: 50px;
    background-color: #7FAD39;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.grBlock > a {
    color: white;
}
.mPhone {
    background-color: #F5F5F5;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cMain {
    display: flex;
}
.ph {
    width: 18px;
    height: 18px;
}
.mT {
   color: #999999;
   margin-left: 20px;
   margin-top: 5px;
}
.list {
    margin-top: 20px;
    width: 270px;
    height: 441px;
border: 1px solid rgba(42, 42, 42, 0.2);
}
.li {
    width: 152px;
    height: 368px;
    color: #999999;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.li > li {
    margin-top: 22px;
}
.veg {
    width: 850px;
    height: 441px;
    background-image: url("./img/vegetables.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}
.v {
    margin-left: 70px;
    font-style: italic;
    font-weight: 100;
    font-size: 40px;
    color: #747373;
}
.f {
    color: #7FAD39;
    font-size: 22px;
    margin-top: -200px;
    margin-left: 100px;
    position: absolute;
}
.free {
    color: #999999;
    margin-top: 270px;
    margin-left: -180px;
}
.gBlock {
    width: 141px;
    height: 50px;
    background-color: #7FAD39;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 375px;
    margin-left: -180px;
}
.gBlock > a {
    color: white;
}